# List

In [1]:
my_list = [3,6,9,12,15]
my_list.append(18)
my_list

[3, 6, 9, 12, 15, 18]

In [2]:
my_list.insert(2, 7)
my_list

[3, 6, 7, 9, 12, 15, 18]

In [3]:
my_list.remove(12)
my_list

[3, 6, 7, 9, 15, 18]

# Dictionary

In [4]:
student_info = {'name': 'Alice', 'age': 20, 'major': 'Computer Science'}
student_info

{'name': 'Alice', 'age': 20, 'major': 'Computer Science'}

In [5]:
student_info["gpa"] = 3.5
student_info

{'name': 'Alice', 'age': 20, 'major': 'Computer Science', 'gpa': 3.5}

In [7]:
if "age" in student_info.keys():
    print("Age is present in student_info")
else:
    print("Age is not present in student_info")

Age is present in student_info

In [9]:
for key, value in student_info.items():
    print(f"{key} : {value}")

name : Alice
age : 20
major : Computer Science
gpa : 3.5

# Set

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [11]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
set1.intersection(set2)

{4, 5}

In [13]:
set1.difference(set2)

{1, 2, 3}