In [5]:
# Task 2:
my_list = [3, 6, 9, 12, 15]
my_list

[3, 6, 9, 12, 15]

In [6]:
my_list.append(18)

In [9]:
my_list.insert(2,7)

In [10]:
my_list

[3, 6, 7, 9, 12, 15, 18]

In [11]:
my_list.remove(12)

In [12]:
my_list

[3, 6, 7, 9, 15, 18]

In [13]:
print(my_list)

[3, 6, 7, 9, 15, 18]

In [14]:
#  problem 2
student_info = {'name': 'Alice', 'age': 20, 'major': 'Computer Science'}
student_info['gpa'] = 3.5

print('age' in student_info)

True

In [19]:
print(student_info.keys())
print(student_info.values())

dict_keys(['name', 'age', 'major', 'gpa'])
dict_values(['Alice', 20, 'Computer Science', 3.5])

In [22]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
set1.intersection(set2)

{4, 5}

In [24]:
set1.difference(set2)

{1, 2, 3}